* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: rgb(0, 0, 0);
}

h1{
  color: rgb(255, 255, 255);
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

img {
  max-height: 750px;
  max-width: 760px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 750px;
  max-width: 760px;
  gap: 10px;
}


p{
  color: rgb(255, 255, 255);
}

span{
  color: rgb(255, 255, 255);
}